.avatarstyle{
    background-color: purple;
    color:white;
    display: inline-block;
    float: left;
    
    img{
        width: 150px;
        height: 150px;
        
    }
    .name{
        font-size: 15px;
    }
    
} 
.avatar-wrapper{
    text-align: center;
}
